main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  img {
    width: 100px;
    margin-bottom: 80px;
  }
}

p {
  text-align: center;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 20px auto 0;
}
