main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #eee;

  & img {
    width: 100px;
    margin-bottom: 80px;
    animation: heart 3s ease-in-out infinite;
  }
}

p {
  text-align: center;
}

h1 {
  color: #7cb342;
}

h2 {
  color: #009688;
}

button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #455a64;
  border: none;
  border-radius: 6px;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 60px auto 0;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
